.taskInput {
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: white;
}

.taskInput input {
    box-sizing: border-box;
    width: 80%;
    min-height: 50px;
    padding-left: 10px;

}

.addtaskBtn {
    box-sizing: border-box;
    width: 10%;
    min-height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    color: #006A7B;
    font-weight: 600;
}

.footer {
    background-color: white;
}