.tasksHeader {
  margin: 30px;
}
.task {
  box-shadow: 0px 4px 6px 2px  rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 3px;
  list-style: none;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  min-height: 50px;
  background-color: white;
}
.content {
  padding: 10px;
  text-align: center;
  font-family: monospace;
  color: #006A7B;
  font-weight: 600;
}
.task button {
  text-align: center;
  margin-bottom: 10px;
}
.task button:hover {
  color: red;
  cursor: pointer;
}
.task:hover {
  box-shadow: 0px 8px 12px 4px rgba(0,0,0,0.2);
}

.tasksList {
  overflow: scroll;
  height: 65vh;
  padding-bottom: 10px;
}

.pending {
  font-weight: 600;
}